@font-face {
    font-family: 'Supreme Spike';
    font-style: normal;
    font-weight: 400;
    src: local('Supreme Spike'), url('https://fonts.cdnfonts.com/s/117272/SupremeSpike-KVO8D.woff') format('woff');
}