@import url("../../fonts/lexend/lexend.css");

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    color: white;

    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

*:hover {
    cursor: url("/img/cursors/default-32x32.png"), pointer;
}