body {
    min-width: 100vw;
    min-height: 100vh;

    background: rgb(3, 3, 0);

    background: linear-gradient(to bottom right, #167bff, #333333);

    overflow: hidden;
    text-rendering: optimizeLegibility;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }
}