h1 {
    font-family: 'Supreme Spike', sans-serif;
    font-size: 30px;
    font-weight: bold;

    line-height: 1.15;
    
    padding: 0;
    margin-bottom: 60px;

    border-radius: 16px;
    padding: 16px;
    text-align: left;
}

h2 {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    font-weight: bold;
    
    margin-bottom: 30px;
}

@media (prefers-color-scheme: dark) {
    h1, h2 {
        color: #efefef;
    }
}

@media (prefers-color-scheme: light) {
    h1, h2 {
        color: #0d1117;
    }
}